<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Pinpooon! ABOUT</title>
    <meta name="description" content="卓球マッチングアプリ">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>

    <!-- CSS -->
    <link rel="stylesheet" href="http://unpkg.com/ress/dist/ress.min.css">
    <link href="http://fonts.googleapis.com/css?family=Philosopher">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="about header-nav">
            <a href="/index">Pinpooon!</a>
            <ul>
                <li><a href="/signup">新規登録</a></li>
                <li><a href="/login">ログイン</a></li>
            </ul>
        </div>
    </header>
    <div id="about" class="big-bg">
        <div class="home-content wrapper">
            <h2 class="page-title">Pinpooon!</h2>
            <p>今すぐ会員登録して卓球仲間を見つけよう！</p>
        </div>
    </div>

    <div class="what-cover">
        <div class="wrapper">
            <h2>Pinpooon!とは？</h2>
                <div class="form-side">
                    <div class="what-content">
                        <h2>卓球マッチングアプリ<br>
                            Pinpooon!</h2>
                        <p>日本中の方々と卓球ができるチャンスを探せる<br>
                            マッチングアプリ。<br>
                            投稿されている練習予定や大会予定を選んで<br>
                            参加ボタンを押そう！</p>
                        <p>参加ボタンを押すと自動で投稿者にメールが飛んで<br>
                            コンタクトできるよ！<br>
                            練習仲間をどんどん見つけて<br>
                            レベルアップしていこう！！！</p>
                    </div>
                    <img src="../images/about.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="lets-cover">
        <div class="lets wrapper">
            <h2>練習相手と出会おう</h2>
            <p>新規アカウント作成をしたら早速、練習相手を探しちゃおう！<br>
            身近に練習相手が見つかるかも…!
            </p>
            <a class="signup-btn" href="/signup">新規登録</a>
        </div>
    </div>

    <div id="contact" class="big-bg">
        <div class="wrapper contact-box">
            <h2 class="page-title">Contact</h2>
            <form action="#">
            <div>
                <label for="name">お名前</label>
                <input type="text" id="name" name="your-name">
            </div>
            <div>
                <label for="e-mail">メールアドレス</label>
                <input type="email" id="email" name="your-email">
            </div>
            <div>
                <label for="message">メッセージ</label>
                <textarea name="your-message" id="message"></textarea>
            </div>
            <input type="submit" class="button" value="送信">
            </form>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2021 Pinpooon</small></p>
        </div>
    </footer>
</body>
</html>