<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Pinpooon! CREATE</title>
    <meta name="description" content="卓球マッチングアプリ">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>

    <!-- CSS -->
    <link rel="stylesheet" href="http://unpkg.com/ress/dist/ress.min.css">
    <link href="http://fonts.googleapis.com/css?family=Philosopher">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="header-nav2">
            <a href="/index">Pinpooon!</a>
        </div>
    </header>
    <div class="wrapper form-side">
        <div class="form-left">
            <h2>予定作成</h2>
            <form action="/create" method="POST">
            <div>
                <label for="title">タイトル</label>
                <input type="text" id="title" name="title">
            </div>
            <div>
                <label for="date">日付</label>
                <input type="text" id="date" name="date"ss>
            </div>
            <div>
                <label for="time">時間</label>
                <input type="text" id="time" name="time">
            </div>
            <div>
                <label for="place">都道府県</label>
                <input type="text" id="place" name="place">
            </div>
            <div>
                <label for="purpose">目的</label>
                <input type="text" id="purpose" name="purpose">
            </div>
            <div>
                <label for="content">内容</label>
                <textarea type="text" id="content" name="content" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="place">レベル</label>
                <input type="text" id="level" name="level">
            </div>
            <input type="submit" class="button form-btn" value="登録">
            </form>
        </div>
        <img class="login-img" src="../images/create.png">
    </div>
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2021 Pinpooon</small></p>
        </div>
    </footer>
</body>
</html>